@{
    ViewBag.Title = "Update Data";
}

<div class="card">
    <div class="card-body">
        <div class="alert alert-info" role="alert">
            Click button to trigger fetching of all available data from API.
            <br />
            This may take some time for initial update.
        </div>
        @using (Html.BeginForm("UpdateVesselData", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <button class="btn btn-primary btn-submit" data-return-type="message">Update Data</button>
        }
    </div>
</div>